<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Website</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
 <style>

     .column {
         flex: 30%;
         padding: 5px;
     }
     img {
         width: 100%;

     }
     .container {
         display: flex;
     }

 </style>
</head>
<body>
    <section id="header">
        <a href="#"><img src="../static/logo.png" class="logo" alt="" style="width: 30%;"></a>
        <div>
            <ul id="navbar">
                <li><a href="index.html">Home</a></li>
                <li><a class="active" href="shop.html">Shop</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
            </ul>
        </div>
    </section>

    <section id="prodetails" class="section-p1">
        <div class="single-pro-image">
            <img src="{{ url_for('serve_image', filename=image_idx)}}" width="100%" id="MainImg" alt="">
        </div>
        <div class="single-pro-details">
            <h6>Home / T-Shirt</h6>
            <h4>{{product_name}}</h4>
            <h2>Price: {{price}}</h2>
            <select>
                <option>Select Size</option>
                <option>Small</option>
                <option>Medium</option>
                <option>Large</option>
                <option>XL</option>
                <option>XXL</option>
            </select>
            <input type="number" value="1">
            <button class="normal">Add To Cart</button>
            <h4>Product Details</h4>
            <span>A CLASSIC AND VERSATILE TEE THAT'S MADE FOR EASY STYLING. <br>
                  Meet your new favourite tee. This classic adidas t-shirt boasts a slim fit and a contrast hem for some refined vintage vibes. Pair it with your favourite dark denim for an effortlessly classic look. It's made of super-soft cotton to keep you comfortable. <br>
                
                  Our cotton products support more sustainable cotton farming.</span>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <h2>Featured Products</h2>
        <p>Summer Collection New Modern Design</p>
        <div class="pro-container">
            {%for k in range(length)%}
            <div class="pro">
                <img src="{{ url_for('serve_image', filename=image_list[k])}}" alt="Image">
                <div class="des">
                    
                    <h5>{{name_list[k]}}</h5>
                    
                    <h4>{{price_list[k]}}</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                </div>
            {%endfor%}
            </div>
        </div>
        </section>
    
        <section id="newsletter" class="section-p1 section-m1">
            <div class="newstext">
                <h4>Sign Up For Newsletters</h4>
                <p>Get E-Mail updates about our latest shop and <span>special offers.</span></p>
            </div>
            <div class="form">
                <input type="text" placeholder="Your email address">
                <button class="normal">Sign Up</button>
            </div>
        </section>
    
        <footer class="section-p1">
            <div class="col">
                <img class="logo" src="../static/img/logo.png" alt="" style="width: 30%;">
                <h4>Contact</h4>
                <p><strong>Address: </strong> 562 Wellington Road, Street 32, San Francisco</p>
                <p><strong>Phone: </strong> +01 2222 356 /(+91) 01 2345 6789</p>
                <p><strong>Hours: </strong> 10:00 - 18:00, Mon - Sat</p>
                <div class="follow">
                    <h4>Follow Us</h4>
                    <div class="icon">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-pinterest"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>  
            </div>
    
            <div class="col">
                <h4>About</h4>
                <a href="#">About us</a>
                <a href="#">Delivery Information</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms & Conditions</a>
                <a href="#">Contact Us</a>
            </div>
    
            <div class="col">
                <h4>My Account</h4>
                <a href="#">Sign In</a>
                <a href="#">View Cart</a>
                <a href="#">My Wishlist</a>
                <a href="#">Track My Order</a>
                <a href="#">Help</a>
            </div>
    
            <!--<div class="col install">
                <h4>Install App</h4>
                <p>From App store or Google Play</p>
                <div class="row">
                    <img src="img/pay/app.jpg" alt="">
                    <img src="img/pay/play.jpg" alt="">
                </div>
            </div>-->
    
            <div class="copyright">
                <p>© 2024-2025 Apparals. All rights reserved.</p>
            </div>
        </footer>
    
        <script>
            var MainImg = document.getElementById("MainImg");
            var smallimg = document.getElementsByClassName("small-img");
        
            smallimg[0].onclick = function()
            {
                MainImg.src = smallimg[0].src;
            }
            smallimg[1].onclick = function()
            {
                MainImg.src = smallimg[1].src;
            }
            smallimg[2].onclick = function()
            {
                MainImg.src = smallimg[2].src;
            }
            smallimg[3].onclick = function()
            {
                MainImg.src = smallimg[3].src;
            }
        </script>
        
        
    
    
    
        <script src="script.js"></script>
    </body>
    </html>
    

<!--
<h1>Product Name</h1>
<div class="container">
    <div class="column">
<img src="{{ url_for('serve_image', filename=image_idx)}}" alt="Image">
    </div>
    <div class="column">
        <h2>{{product_name}}</h2>
              <h2>Price: {{price}}</h2>

    </div>
</div>
-->

<!--
<h1>Featured Products</h1>
     <div class="container">-->
        <!--
    <form method="GET"
          action="{{ url_for('recommendations') }}">
        <input type="text"
               name="product_name"
               placeholder="Product Name">
        <button type="submit">submit</button>
    </form>
       //-->
<!--
        {%for k in range(length)%}
         <div class="column">
         <img src="{{ url_for('serve_image', filename=image_list[k])}}" alt="Image">
              <br>
              <h5>{{name_list[k]}}</h5>
              <h5>Price: {{price_list[k]}}</h5>

          </div>

         {%endfor%}

             </div>   -->
</body>
</html>